.blob {
  position: absolute;
  bottom: 0;
  left: 0;
}

.circle {
  position: absolute;
  bottom: 35%;
  left: 15%;
}

.noodle {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 769px) {
  .blob {
    width: 70%;
  }

  .circle {
    width: 50%;
  }

  .noodle {
    width: 70%;
  }
}
